langchain==1.2.17
langchain-openai==1.2.1
dotenv==0.9.9
ipykernel==7.2.0
langgraph-cli==0.4.24
protobuf==6.31.1
SQLAlchemy==2.0.49
loguru==0.7.3
psycopg2==2.9.12
pydantic==2.13.3
fastapi==0.136.1
Jinja2==3.1.6
